<div id="<%= dom_id event %>" class="card">
  <div class="card-content">
    <p class="title"><%= event.title %></p>
    <p class="subtitle txt-orangered"><%= event.date %></p>
    <p class="subtitle is-size-6">Location: <%= event.location %></p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span><%= link_to 'View Event', event_path(event) %></span>
    </p>
    <% if current_page?(user_path(event.host.id)) %>
      <% if user_signed_in? && current_user == event.host%>
        <p class="card-footer-item">
          <%= link_to "Edit Event", edit_event_path(event) %>
        </p>
      <% end %>
    <% else %>
      <p class="card-footer-item">
        <span>Hosted By: <%= link_to event.host.username, user_path(event.host.id) %></span>
      </p>
    <% end %>
    
  </footer>
</div>
