<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        <div class="card" id="event">
          <div class="card-content">
            <p class="title"><%= @event.title%></p>
            <p class="subtitle txt-orangered"><%= @event.date%></p>
            <p class="subtitle is-size-6">Location: <%= @event.location%></p>
            <hr>
            <p><%= @event.description%></p>
            <br>
            <span>By: <%= @event.host.username %></span>
          </div>
          <footer class="card-footer">
            <% if user_signed_in? %>
              <% if @event.attendees.find { |a| a.id == current_user.id } %>
                  <%= button_to "Remove Ticket", event_ticketing_path(@event), method: :delete, class: "button is-danger ", form_class: "card-footer-item is-fullwidth" %>
              <% else %>
                <%= button_to "Get Ticket", event_ticketings_path(@event), method: :post, class: "button is-success",  form_class: "card-footer-item is-fullwidth"  %>
              <% end %>
            <% end %>
            <% if user_signed_in? && current_user == @event.host %>
              <p class="card-footer-item">
                <%= link_to "Edit Event", edit_event_path(@event) %>
              </p>
            <% end %>
          </footer>
        </div>
        <hr>
        <h2 class="title">Attendees</h2>
        <br>
        <% @event.attendees.each do |attendee| %>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://mastodon.sdf.org/system/accounts/avatars/000/108/313/original/035ab20c290d3722.png" alt="An anonymous user">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4"><%= attendee.username %></p>
                <% if user_signed_in? && current_user == @event.host %>
                  <p class="subtitle is-6"><%= attendee.email %></p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
